open_clip_torch
invisible-watermark
scipy==1.2.1
numpy==1.19.2
matplotlib==3.1.2
opencv_python==4.1.2.30
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
tqdm==4.60.0
Pillow==8.2.0
h5py==2.10.0
albumentations==0.4.3
diffusers
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
pytorch-lightning==1.4.2
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.3.0
torch-fidelity==0.3.0
transformers==4.19.2
torchmetrics==0.6.0
kornia==0.6
streamlit-drawable-canvas==0.8